.header {
  margin: 22px 0 13px 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 19px;
}

/* -- Home Page header --------------------------------*/
.header {
  /*border: 1px solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 40%;
  height: auto;
}

/* -- Home Page Book the menu you like ----------------*/
.main {
  background-color: #F5F5F5;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__loc {
  border-top: 2px solid #C0C0C0;
  background-color: #ebebeb;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}

.main__loc #loc-icon {
  margin-right: 15px;
}

.main__heading {
  margin: 40px 0;
}

@media screen and (min-width: 992px) {
  .main__heading {
    margin: 50px 0 40px 0;
    font-size: 28px;
  }
}

.main__txt {
  /*border: 1px solid red; */
  margin: 0 0 30px 0;
  font-size: 18px;
  font-weight: 250;
  width: 80%;
  text-align: center;
}

.btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  padding: 16px 27px;
  border-radius: 30px;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.384) 0px 2px 10px 0px;
          box-shadow: rgba(0, 0, 0, 0.384) 0px 2px 10px 0px;
  color: white;
  font-size: 1rem;
}

/* -- How it works section ----------------------------*/
.steps {
  /*border: 1px solid red; */
  height: 450px;
  padding: 50px 20px 50px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media screen and (min-width: 768px) {
  .steps {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1100px) {
  .steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 290px;
  }
}

.steps__heading {
  margin-bottom: 27px;
}

@media screen and (min-width: 768px) {
  .steps__heading {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

@media screen and (min-width: 992px) {
  .steps__heading {
    width: 100%;
    height: 30px;
  }
}

.steps__step {
  background-color: #F5F5F5;
  margin-bottom: 28px;
  margin-left: 10px;
  padding: 27px;
  border-radius: 23px;
  font-weight: 500;
  -webkit-box-shadow: 0px 5px 15px -2px rgba(100, 100, 111, 0.384);
          box-shadow: 0px 5px 15px -2px rgba(100, 100, 111, 0.384);
}

@media screen and (min-width: 768px) {
  .steps__step {
    width: 70%;
  }
}

@media screen and (min-width: 1100px) {
  .steps__step {
    width: 30%;
    height: 90px;
    padding-top: 30px;
  }
}

.steps__step--number {
  background-color: #9356DC;
  border-radius: 100%;
  padding: 4px 8px;
  color: white;
  font-weight: 300;
  font-size: 14px;
  position: relative;
  right: 40px;
}

.steps__step--icon {
  color: #767676;
  font-size: 20px;
  position: relative;
  right: 14px;
  top: 2px;
  margin-right: 13px;
}

.steps__step--purple {
  background-color: #f2eafb;
}

.steps__step--icon--purple {
  color: #9356DC;
}

/* -- Restaurants section -----------------------------*/
.restaurants {
  background-color: #F5F5F5;
  padding: 50px 20px 35px 20px;
}

.restaurants__heading {
  margin-bottom: 23px;
}

.restaurants__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .restaurants__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.restaurants__cards__card {
  background-color: white;
  margin-bottom: 28px;
  border-radius: 15px;
  list-style: none;
  width: 100%;
  height: 255px;
  -webkit-box-shadow: 0px 5px 15px -2px rgba(100, 100, 111, 0.226);
          box-shadow: 0px 5px 15px -2px rgba(100, 100, 111, 0.226);
}

@media screen and (min-width: 768px) {
  .restaurants__cards__card {
    width: 45%;
  }
}

.restaurants__cards__card a {
  text-decoration: none;
  color: black;
}

.restaurants__cards__card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.restaurants__cards__card h2 {
  margin: 10px 0 5px 12px;
  width: 70%;
}

.restaurants__cards__card p {
  margin: 0 0 10px 12px;
  font-weight: 300;
  font-size: 17px;
  width: 50%;
}

.restaurants__cards__card__info__icon {
  position: relative;
  left: 85%;
  bottom: 55px;
  font-size: 26px;
}

.new {
  color: #278870;
  background-color: #99E2D0;
  width: 80px;
  text-align: center;
  position: relative;
  bottom: 270px;
  left: 72.5%;
  padding: 5px 0;
  border-radius: 3px;
}

@media screen and (min-width: 992px) {
  .new {
    left: 78%;
  }
}

@media screen and (min-width: 1100px) {
  .new {
    left: 80%;
  }
}

/* -- Footer ------------------------------------------*/
.footer {
  background-color: #3a3a3a;
  height: 200px;
  color: white;
  padding: 25px;
}

.footer__heading {
  font-family: Shrikhand;
  font-weight: 300;
  margin-bottom: 20px;
}

.footer__info ul {
  padding-left: 0;
}

.footer__info ul li {
  list-style: none;
  margin-bottom: 7px;
}

.footer__info a {
  color: white;
  text-decoration: none;
}

.footer__info__icon--clutery {
  font-size: 14px;
  margin-right: 11px;
}

.footer__info__icon--hands {
  font-size: 11.5px;
  margin-right: 9px;
}
/*# sourceMappingURL=main.css.map */