.header {
  margin: 22px 0 13px 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
  font-weight: 450;
}

/* -- Home Page header --------------------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  width: 40%;
  height: auto;
  content: " ";
}

.header__icon {
  font-size: 20px;
  position: absolute;
  left: 6%;
  color: black;
}

@media screen and (min-width: 768px) {
  .header__icon {
    top: 5%;
  }
}

@media screen and (min-width: 992px) {
  .header .header__logo {
    max-height: 60px;
  }
}

/* -- Cover pic ---------------------------------------*/
.cover {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100vw;
  z-index: 1;
}

/* -- Menu section ------------------------------------*/
.menu {
  background-color: #F5F5F5;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  position: relative;
  top: 200px;
  z-index: 2;
  padding: 35px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-bottom: 200px;
}

@media screen and (min-width: 992px) {
  .menu {
    padding: 35px 27px;
  }
}

.menu__heading {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
  margin-bottom: 30px;
}

.menu__heading--modifier {
  font-size: 26px;
}

.menu__btn {
  position: absolute;
  left: 80%;
  top: 40px;
  font-size: 25px;
  width: 40px;
  height: 35px;
  background: transparent;
  cursor: pointer;
  border: none;
}

.menu__btn:hover .menu__btn--coloured {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: likebtn 500ms;
          animation: likebtn 500ms;
}

.menu__btn--no_coloured {
  position: relative;
  top: 0px;
  left: auto;
  color: black;
}

.menu__btn--coloured {
  position: relative;
  top: -30px;
  left: -12%;
  color: transparent;
  background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to top right, #FF79DA, #9356DC);
  display: inline-block;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 35%;
          transform-origin: 50% 35%;
}

@-webkit-keyframes likebtn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes likebtn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.menu__btn--modifier {
  left: 78%;
}

.menu__btn--modifier + .menu__btn--coloured {
  left: 65%;
}

@media screen and (min-width: 768px) {
  .menu__btn {
    left: 85%;
  }
  .menu__btn .menu__btn--coloured {
    left: 73%;
  }
}

.menu__subheading {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 5px;
}

.menu__subheading--line {
  width: 40px;
  border: 1.5px solid #99E2D0;
  margin-bottom: 15px;
}

.menu__cards__card {
  background-color: white;
  margin-bottom: 28px;
  border-radius: 15px;
  list-style: none;
  width: 100%;
  height: 67px;
  padding: 10px;
  -webkit-box-shadow: 0px 5px 15px -2px rgba(100, 100, 111, 0.226);
          box-shadow: 0px 5px 15px -2px rgba(100, 100, 111, 0.226);
}

@media screen and (min-width: 768px) {
  .menu__cards__card {
    width: 48%;
  }
}

.menu__cards__card__description {
  font-weight: 300;
  margin-top: 5px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__cards__card__description .price {
  font-weight: 500;
  margin-right: 10px;
}

.menu__cards__card:hover .animation__checkbox {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu__cards__card:hover .animation__checkbox__icon {
  -webkit-animation: icon-rotation 300ms;
          animation: icon-rotation 300ms;
}

@-webkit-keyframes icon-rotation {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes icon-rotation {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.menu__cards__card:hover .price {
  -webkit-transform: translateX(-220%);
          transform: translateX(-220%);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.menu__cards .animation__checkbox {
  position: relative;
  left: 83.5%;
  bottom: 55px;
  width: 20%;
  padding: 22.5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 23px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

.menu__cards .animation__checkbox:hover {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu__cards ul {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .menu__cards ul {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu__cards ul > li {
  list-style: none;
}

.menu__cards a {
  text-decoration: none;
  color: black;
}

.btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  padding: 16px 27px;
  border-radius: 30px;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.384) 0px 2px 10px 0px;
          box-shadow: rgba(0, 0, 0, 0.384) 0px 2px 10px 0px;
  color: white;
  font-size: 1rem;
  width: 190px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 20px 0 25px 0;
}

.btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff83dd), to(#985ede));
  background-image: linear-gradient(#ff83dd, #985ede);
}

/* -- Footer ------------------------------------------*/
.footer {
  background-color: #3a3a3a;
  height: 200px;
  color: white;
  padding: 25px;
}

.footer__heading {
  font-family: Shrikhand;
  font-weight: 300;
  margin-bottom: 20px;
}

.footer__info ul {
  padding-left: 0;
}

.footer__info ul li {
  list-style: none;
  margin-bottom: 7px;
}

.footer__info a {
  color: white;
  text-decoration: none;
}

.footer__info__icon--clutery {
  font-size: 14px;
  margin-right: 11px;
}

.footer__info__icon--hands {
  font-size: 11.5px;
  margin-right: 9px;
}
/*# sourceMappingURL=menu.css.map */