@-webkit-keyframes likebtn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes likebtn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes drop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes dishAdded {
  0% {
    width: 0px;
  }
  100% {
    width: 17%;
  }
}

@keyframes dishAdded {
  0% {
    width: 0px;
  }
  100% {
    width: 17%;
  }
}

@-webkit-keyframes rotateIcon {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotateIcon {
  0% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.header {
  margin: 22px 0 13px 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 17.5px;
  font-weight: 440;
}

a {
  text-decoration: none;
  color: black;
}

/* -- Home Page header --------------------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  width: 40%;
  height: auto;
}

.header__icon {
  font-size: 20px;
  position: absolute;
  left: 6%;
  color: black;
}

@media screen and (min-width: 768px) {
  .header__icon {
    top: 4%;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 6vh;
  }
  .header__logo {
    width: 40%;
    height: auto;
    width: 30vw;
  }
}

/* -- Cover pic ---------------------------------------*/
.cover {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100vw;
  height: 40vh;
  z-index: 1;
}

/* -- Menu section ------------------------------------*/
.menu {
  background-color: #F5F5F5;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  position: relative;
  top: 200px;
  z-index: 2;
  padding: 35px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-bottom: 200px;
}

@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media screen and (min-width: 992px) {
  .menu {
    padding: 35px 27px;
  }
}

.menu__heading {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
  margin-bottom: 30px;
}

.menu__heading--modifier {
  font-size: 26px;
}

.menu__btn {
  position: absolute;
  left: 80%;
  top: 40px;
  font-size: 25px;
  width: 40px;
  height: 35px;
  background: transparent;
  cursor: pointer;
  border: none;
}

.menu__btn:hover .fas {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: likebtn 500ms;
          animation: likebtn 500ms;
}

.menu__btn .far {
  position: absolute;
  bottom: 47px;
  right: 95%;
  color: black;
}

.menu__btn .fas {
  position: relative;
  bottom: 38.5px;
  right: 76%;
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to top right, #FF79DA, #9356DC);
  display: inline-block;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 35%;
          transform-origin: 50% 35%;
}

.menu__btn--modifier {
  left: 85%;
}

.menu__btn--modifier + .fas {
  left: 65%;
}

@media screen and (min-width: 768px) {
  .menu__btn {
    left: 85%;
  }
  .menu__btn .menu__btn--coloured {
    left: 73%;
  }
}

.menu__subheading {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 5px;
}

.menu__subheading--line {
  width: 40px;
  border: 1.5px solid #99E2D0;
  margin-bottom: 15px;
  background-color: #99E2D0;
}

.dishes .delay-1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.dishes .delay-2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.dishes .delay-3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.dishes .delay-4 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.dishes .delay-5 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.dishes .delay-6 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.dishes .delay-7 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.dishes .delay-8 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.dishes .delay-9 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.dishes .delay-10 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@media screen and (min-width: 992px) {
  .dishes {
    width: 85vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    height: 30vh;
  }
}

.dishes__card {
  background-color: white;
  margin-bottom: 28px;
  border-radius: 15px;
  width: 100%;
  height: 67px;
  padding: 10px;
  -webkit-box-shadow: 0px 5px 15px -2px rgba(100, 100, 111, 0.226);
          box-shadow: 0px 5px 15px -2px rgba(100, 100, 111, 0.226);
  /* Entrance animations ---------------*/
  -webkit-animation: drop 2s;
          animation: drop 2s;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  /* -----------------------------------*/
}

@media screen and (min-width: 768px) {
  .dishes__card {
    width: 85vw;
  }
}

@media screen and (min-width: 992px) {
  .dishes__card {
    width: 40vw;
    margin-left: 1.5%;
  }
}

.dishes__card:hover .card__description {
  width: 65%;
}

.dishes__card:hover .card__price {
  -webkit-transform: translateX(-160%);
          transform: translateX(-160%);
}

@media screen and (min-width: 768px) {
  .dishes__card:hover .card__price {
    -webkit-transform: translateX(-295%);
            transform: translateX(-295%);
  }
}

@media screen and (min-width: 992px) {
  .dishes__card:hover .card__price {
    -webkit-transform: translateX(-180%);
            transform: translateX(-180%);
  }
}

@media screen and (min-width: 1400px) {
  .dishes__card:hover .card__price {
    -webkit-transform: translateX(-250%);
            transform: translateX(-250%);
  }
}

.dishes__card:hover .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: dishAdded;
          animation-name: dishAdded;
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.dishes__card:hover .checkbox i {
  -webkit-animation: .3s linear 0s rotateIcon;
          animation: .3s linear 0s rotateIcon;
}

.dishes .card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 2px;
}

.dishes .card__description h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dishes .card__description p {
  font-weight: 300;
  margin-top: 4px;
  font-size: 15px;
  padding-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dishes .card__price {
  font-weight: 500;
  font-size: 14.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 15px;
  padding: 5px;
  margin-right: 10px;
  position: relative;
  left: 87%;
  bottom: 24px;
  display: inline-block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

@media screen and (min-width: 768px) {
  .dishes .card__price {
    left: 92%;
  }
}

@media screen and (min-width: 992px) {
  .dishes .card__price {
    left: 88%;
  }
}

@media screen and (min-width: 1400px) {
  .dishes .card__price {
    left: 91%;
  }
}

.checkbox {
  background-color: #99E2D0;
  width: 17%;
  height: 67.1px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.checkbox i {
  color: white;
  font-size: 20px;
}

.btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  padding: 16px 27px;
  border-radius: 30px;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.384) 0px 2px 10px 0px;
          box-shadow: rgba(0, 0, 0, 0.384) 0px 2px 10px 0px;
  color: white;
  font-size: 1rem;
  width: 190px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 20px 0 25px 0;
}

.btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff83dd), to(#985ede));
  background-image: linear-gradient(#ff83dd, #985ede);
}

/* Footer -------------------------------------*/
.footer {
  background-color: #3a3a3a;
  height: 200px;
  color: white;
  padding: 25px;
}

.footer__heading {
  font-family: Shrikhand;
  font-weight: 300;
  margin-bottom: 20px;
}

.footer ul {
  padding-left: 0;
}

.footer ul li {
  list-style: none;
  margin-bottom: 7px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer .clutery :nth-child(1) {
  font-size: 14px;
  margin-right: 11px;
}

.footer .hands :nth-child(1) {
  font-size: 11.5px;
  margin-right: 9px;
}
/*# sourceMappingURL=menu.css.map */