.circles {
    background-color: #3a3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;

    &__wrapper {
        width: 40%;
        height: auto;
        display: flex;
        justify-content: space-around;

        & > i {
            font-size: 23px;
        }
    }

    & :nth-child(1) {
        color: #99E2D0;
    }

    & :nth-child(2) {
        

        color: transparent;
        background-clip: text;
        background-image: linear-gradient(to right, #99E2D0 , #FF79DA);
        display: inline-block;
        font-size: 23px;
    }

    & :nth-child(3) {
        color: #FF79DA;
    }

    & :nth-child(4) {
       

        color: transparent;
        background-clip: text;
        background-image: linear-gradient(to right, #FF79DA , #9356DC);
        display: inline-block;
        font-size: 23px;
    }

    & :nth-child(5) {
        color: #9356DC;
    }


}
    

