@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/placeholders";

* {
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 19px;
}
/* -- Home Page header --------------------------------*/
.header {
    /*border: 1px solid red; */
    display: flex;
    flex-flow: column;
    align-items: center;
    @extend %header-margin;
    @include header-logo;

    @include desktop-header;
}
    
/* -- Home Page Book the menu you like ----------------*/
.main {
    background-color: $light-gray;
    height: 340px;
    display: flex;
    flex-flow: column;
    align-items: center;

    &__loc {
        border-top: 2px solid $dark-gray;
        background-color: $md-gray;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 15px 0;

        #loc-icon {
            margin-right: 15px;
        }
    }

    &__heading {
        margin: 40px 0;

        @include desktop {
            margin: 50px 0 40px 0;
            font-size: 28px;
        }
    }

    &__txt {
        /*border: 1px solid red; */
        margin: 0 0 30px 0;
        font-size: $font-size;
        font-weight: 300;
        width: 80%;
        text-align: center;
    }
}

.btn {
    @include btn;
    transition-duration: 400ms;

    @include btn--hover;
}

/* -- How it works section ----------------------------*/
.steps {
    /*border: 1px solid red; */
    height: 450px;
    padding: 50px 20px 50px 25px;
    display: flex;
    flex-flow: column nowrap;
    
    @include tablet {
        align-items: center;
    }
    @include bigscreen {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: 290px;
    }
    
    &__heading {
        margin-bottom: 27px;
        
        @include tablet {
            align-self: start;
        }
        @include desktop {
            width: 100%;
            height: 30px;
        }
    }
    
    &__step {
        background-color: $light-gray;
        margin-bottom: 28px;
        margin-left: 10px;
        padding: 27px;
        border-radius: 23px;
        font-weight: 500;
        @include boxshadow($box-shadow--dark);
        transition-duration: 400ms;

        @include step-layout;
       
        &:hover {
            background-color: lighten($primary-colour, 35%);
            & + .steps__step--icon {
                color: $primary-colour;
            }
        }
        
        @include tablet {
            width: 70%;
        }
        @include bigscreen {
            width: 30%;
            height: 90px;
            padding-top: 30px;
        }

        
    }
}

/* -- Restaurants section -----------------------------*/
.restaurants {
    background-color: $light-gray;
    padding: 50px 20px 35px 20px;

    &__heading {
        margin-bottom: 23px;
    }

    &__cards {
        display: flex;
        flex-flow: column nowrap;
        padding: 0;
        @include tablet {
            flex-flow: row wrap;
            justify-content: space-around;
        } 

    }
}

.card {
    background-color: white;
    margin-bottom: 28px;
    border-radius: 15px;
    list-style: none;
    width: 100%;
    height: 255px;
    @include boxshadow;
    
    @include tablet {
        width: 45%;
    }

    a {
        text-decoration: none;
        color: black; 
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 70%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &__title {
        margin: 10px 0 5px 12px;
        width: 70%;
    }

    &__info {
        margin: 0 0 10px 12px;
        font-weight: 300;
        font-size: 17px;
        width: 50%;
    }

    &__btn {
        position: relative;
        left: 83%;
        bottom: 55px;
        font-size: 24px;
        width: 40px;
        height: 35px;
        background: transparent;
        cursor: pointer;
        border: none;

        &:hover {
            .fas {
                transform: scale(1);
                animation: likebtn 500ms;
            }
        }
                
        .far {
            position: absolute;
            bottom: -53px;
            left: -24px;
            color: black;

        }
        
        .fas {
            position: relative;
            bottom: -56px;
            left: -24px;
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(to top right, $secondary-colour, $primary-colour);
            display: inline-block;
            transform: scale(0);
            transform-origin: 50% 35%;
            
            @keyframes likebtn {
                from {
                    transform: scale(0);
                    opacity: 0;
                }
                to {
                    transform: scale(1);
                    opacity: 1;
                }
            }
            
            &:hover {
                transform: scale(1);
            }
        }
    } 
}
    
.new {
    color: darken($tertiary-colour, 40%);
    background-color: $tertiary-colour;
    width: 80px;
    text-align: center;
    position: relative;
    left: 72%;
    bottom: 275px;
    padding: 5px 0;
    border-radius: 3px;
    @include desktop {
        left: 78%;
    }
    @include bigscreen {
        left: 80%;
    }
}

/* -- Footer ------------------------------------------*/
@include footer;

/* Loader  --------------------------------------------*/
.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    margin-top: -28px;
    background-color: #3a3a3a;
    //animation-name: fade;
    //animation-duration: 1.5s;
    //animation-timing-function: linear;
    //animation-delay: 3s;
    //animation-fill-mode: forwards;

    @keyframes fade {
        0% {
            transform: translateY(0%);
        }
        100% {
            transform: translateY(100%);
        }
    }

    & > i {
        font-size: 23px;
        margin: 5px;
        animation: loading 4s ease-in-out infinite;
        animation-timing-function: cubic-bezier(.29,.56,.75,.5);
        animation-fill-mode: both;
    }

    & :nth-child(1) {
        color: #99E2D0;
    }

    & :nth-child(2) {
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(to right, #99E2D0 , #FF79DA);
        font-size: 23px;
    }

    & :nth-child(3) {
        color: #FF79DA;
    }

    & :nth-child(4) {
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(to right, #FF79DA , #9356DC);
        font-size: 23px;
    }

    & :nth-child(5) {
        color: #9356DC;
    }

    @keyframes loading {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}
    
