@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/placeholders";

* {
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 19px;
}
/* -- Home Page header --------------------------------*/
.header {
    /*border: 1px solid red; */
    display: flex;
    flex-flow: column;
    align-items: center;
    @extend %header-margin;
    @include header-logo;
}
    
/* -- Home Page Book the menu you like ----------------*/
.main {
    background-color: $light-gray;
    height: 340px;
    display: flex;
    flex-flow: column;
    align-items: center;

    &__loc {
        border-top: 2px solid $dark-gray;
        background-color: $md-gray;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 15px 0;

        #loc-icon {
            margin-right: 15px;
        }
    }

    &__heading {
        margin: 40px 0;

        @include desktop {
            margin: 50px 0 40px 0;
            font-size: 28px;
        }
    }

    &__txt {
        /*border: 1px solid red; */
        margin: 0 0 30px 0;
        font-size: $font-size;
        font-weight: 250;
        width: 80%;
        text-align: center;
    }
}

.btn {
    @include btn;
    transition-duration: 400ms;

    @include btn--hover;
}

/* -- How it works section ----------------------------*/
.steps {
    /*border: 1px solid red; */
    height: 450px;
    padding: 50px 20px 50px 25px;
    display: flex;
    flex-flow: column nowrap;
    
    @include tablet {
        align-items: center;
    }
    @include bigscreen {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: 290px;
    }
    
    &__heading {
        margin-bottom: 27px;
        
        @include tablet {
            align-self: start;
        }
        @include desktop {
            width: 100%;
            height: 30px;
        }
    }
    
    &__step {
        background-color: $light-gray;
        margin-bottom: 28px;
        margin-left: 10px;
        padding: 27px;
        border-radius: 23px;
        font-weight: 500;
        @include boxshadow($box-shadow--dark);
        transition-duration: 400ms;

        @include step-layout;
       
        &:hover {
            background-color: lighten($primary-colour, 35%);
            & + .steps__step--icon {
                color: $primary-colour;
            }
        }
        
        @include tablet {
            width: 70%;
        }
        @include bigscreen {
            width: 30%;
            height: 90px;
            padding-top: 30px;
        }

        
    }
}

/* -- Restaurants section -----------------------------*/
.restaurants {
    background-color: $light-gray;
    padding: 50px 20px 35px 20px;

    &__heading {
        margin-bottom: 23px;
    }

    &__cards {
        display: flex;
        flex-flow: column nowrap;
        padding: 0;
        @include tablet {
            flex-flow: row wrap;
            justify-content: space-around;
        } 

        &__card {
            background-color: white;
            margin-bottom: 28px;
            border-radius: 15px;
            list-style: none;
            width: 100%;
            height: 255px;
            @include boxshadow;
            
            @include tablet {
                width: 45%;
            }

            a {
                text-decoration: none;
                color: black; 
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 70%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            h2 {
                margin: 10px 0 5px 12px;
                width: 70%;
            }

            p {
                margin: 0 0 10px 12px;
                font-weight: 300;
                font-size: 17px;
                width: 50%;
            }

            &__btn {
                position: relative;
                left: 83%;
                bottom: 60px;
                font-size: 24px;
                width: 40px;
                height: 35px;
                background: transparent;
                cursor: pointer;
                border: none;
                
                &--no_coloured {
                    position: relative;
                    bottom: 0px;
                    left: auto;
                    color: black;
                }
                
                &--coloured {
                    position: relative;
                    bottom: 28.5px;
                    left: -4px;
                    color: transparent;
                    background-clip: text;
                    background-image: linear-gradient(to top right, $secondary-colour, $primary-colour);
                    display: inline-block;
                    transform: scaleX(1);
                    transition-duration: 500ms;


                    &:hover {
                        transform: scaleX(0);
                    }
                }
            }
        }
    }
}

.new {
    color: darken($tertiary-colour, 40%);
    background-color: $tertiary-colour;
    width: 80px;
    text-align: center;
    position: relative;
    left: 72%;
    bottom: 295px;
    padding: 5px 0;
    border-radius: 3px;
    @include desktop {
        left: 78%;
    }
    @include bigscreen {
        left: 80%;
    }
}

/* -- Footer ------------------------------------------*/
@include footer;

    
