@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/placeholders";

* {
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 19px;
}
/* -- Home Page header --------------------------------*/
.header {
    @include menu-header;

    &__icon {
        position: relative;
        right: 80px;
        top: 4px;
        font-size: 20px;
    }
}

/* -- Cover pic ---------------------------------------*/
.cover {
    object-fit: cover;
    width: 100vw;
}

  
