@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/placeholders";

* {
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
    font-weight: 450;
}
/* -- Home Page header --------------------------------*/
.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    @extend %header-margin;
    @include header-logo;

    &__icon {
        font-size: 20px;
        position: absolute;
        left: 6%;
        color: black;
        
        @include tablet {
            top: 5%;
        }
    }

    @include desktop-header;
}

/* -- Cover pic ---------------------------------------*/
.cover {
    object-fit: cover;
    position: absolute;
    width: 100vw;
    z-index: 1;
}

/* -- Menu section ------------------------------------*/
.menu {
    background-color: $light-gray;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    position: relative;
    top: 200px;
    z-index: 2;
    padding: 35px 16px;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 200px; 

    @include desktop {
        padding: 35px 27px;
    }

    &__heading {
        font-family: $font-sh;
        font-size: 27px;
        margin-bottom: 30px;

        &--modifier {
            font-size: 26px;
        }
    }

    &__btn {
        position: absolute;
        left: 80%;
        top: 40px;
        font-size: 25px;
        width: 40px;
        height: 35px;
        background: transparent;
        cursor: pointer;
        border: none;       

        &:hover {
            .menu__btn--coloured {
                transform: scale(1);
                animation: likebtn 500ms;
            }
        }

        &--no_coloured {
            position: relative;
            top: 0px;
            left: auto;
            color: black;
        }

        &--coloured {
            position: relative;
            top: -30px;
            left: -12%;
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(to top right, $secondary-colour, $primary-colour);
            display: inline-block;
            transform: scale(0);
            transform-origin: 50% 35%;
            
            @keyframes likebtn {
                from {
                    transform: scale(0);
                    opacity: 0;
                }
                to {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }

        &--modifier {
            left: 78%;
            & + .menu__btn--coloured {
                left: 65%;
            }
        }

        @include tablet {
            left: 85%;
            & .menu__btn--coloured {
                left: 73%;
            }
        }
    }

    &__subheading {
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 5px;

        &--line {
            width: 40px;
            border: 1.5px solid $tertiary-colour;
            margin-bottom: 15px;
        }
    }

    &__cards {
        @for $i from 1 to 11 {
            .delay-#{$i} {
                animation-delay: #{$i / 2}s;
            }
        }
        /* ---- */

        &__card {
            background-color: white;
            margin-bottom: 28px;
            border-radius: 15px;
            list-style: none;
            width: 100%;
            height: 67px;
            padding: 10px;
            @include boxshadow;

            /* Entrance animation */
            animation: drop 2s;
            animation-delay: .7s;
            animation-fill-mode: both;

            @keyframes drop {
                0% {
                    opacity: 0;
                    transform: translateY(10px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
            /* ---- */
            
            @include tablet {
                width: 48%;
            }

            &__heading {
                @extend %ellipsis;
            }

            &__description {
                font-weight: 300;
                margin-top: 5px;
                font-size: 15px;
                @extend %ellipsis;
                
            }

            &__price {
                font-weight: 500;
                margin-right: 10px;
                position: relative;
                left: 88%;
                bottom: 18.5px;
                display: inline-block;
                transform: translateX(0);
                transition-duration: 500ms;
            }

            &:hover {
                .menu__cards__card__description {
                    overflow: hidden;
                }

                .menu__cards__card__heading {
                    overflow: hidden;
                } 

                .menu__cards__card__price {
                    transform: translateX(-210%);
                }

                .animation {
                    transform: scaleX(1);

                    &__icon {
                        transform: rotate(0);
                    }
                }
            }

        }

        ul {
            padding: 0;

            @include tablet {
                padding: 15px;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }
        }

        ul > li {
            list-style: none; 
        }

        a {
            text-decoration: none;
            color: black; 
        }
    }
}
.animation {
    background-color: $tertiary-colour;   
    width: 20%; 
    height: 67.1px;
    position: relative; 
    left: 83.1%;
    bottom: 73.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    transform: scaleX(0);
    transition-duration: .5s;
    transform-origin: right;

    &__icon {
        color: white;
        font-size: 20px;
        transform: rotate(180deg);
        transition-duration: .5s;
    }

}

.btn {
    @include btn;
    width: 190px; 
    align-self: center;
    margin: 20px 0 25px 0;

    @include btn--hover;
}

/* -- Footer ------------------------------------------*/
@include footer; 